<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Tiffany C. Chieu's website" />
    <link rel="stylesheet" href="/styles/styles.css" />
    {{ if .Params.katex }}
      {{ partial "katex.html" . }}
    {{ end }}
    <title>{{ .Site.Title }}</title>
  </head>
  <header>
    {{ partial "header.html" . }}
  </header>
  <body>
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
  </body>
</html>