<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Tiffany C. Chieu's website" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>{{ .Site.Title }}</title>
  </head>
  <header>
    {{ partial "top-nav.html" . }}
  </header>
  <body>
    <div class="main-content">
      {{ partial "page-title.html" . }}
      {{ block "main" . }}
        {{ .Content }}
      {{ end }}
    </div>
  </body>
</html>