{{ with .Site.Menus }}
    <div class="sidenav">
        {{ range .oss_menu }}
            <button class="dropdown-btn">
                {{ .Name }}
            </button>
            {{ range .Children }}
                <button class="dropdown-btn">
                    >{{ .Name }}
                </button>
<!--                {{ range .Children }}-->
<!--                    <div class="dropdown-container">-->
<!--                        <a href="{{ .URL }}">{{ .Name }}</a>-->
<!--                    </div>-->
<!--                {{ end }}-->
            {{ end }}
        {{ end }}
    </div>
{{ end }}

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    let dropdown = document.getElementsByClassName("dropdown-btn");
    let i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            let dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>