<div class="pt-5 has-text-centered has-text-grey-light">
    <p class="title has-text-grey-light">
        {{ if (isset .Params "title_url") }}
            <a href="{{ .Params.title_url }}" target="_blank" rel="noreferrer">{{ .Title }}</a>
        {{ else }}
            {{ .Title }}
        {{ end }}
    </p>
    {{ if (isset .Params "title_descrip") }}
        <p class="subtitle is-5 has-text-grey-light">
            {{ .Params.title_descrip }}
        </p>
    {{ else if (isset .Params "date") }}
        <p class="subtitle is-6 has-text-grey-light">{{ .Date.Format "2 January 2006" }}</p>
    {{ end }}
</div>
<hr />