{{ with .Site.Menus }}
    <div class="topnav">
        {{ range .main_menu }}
            <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
        <div class="dropdown">
            <button class="dropbtn">Projects</button>
            <div class="dropdown-content">
                {{ range  sort .projects_menu "Name" }}
                    {{ range .Children }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        {{ range .main_menu }}
            {{ range .Children }}
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
        <div class="logos">
            <a href="https://github.com/tiffany1618" target="_blank" rel="noreferrer">
                <img src="/images/logos/github_logo.png" alt="Github logo" width="auto" height="30" />
            </a>
            <a href="https://www.linkedin.com/in/tiffany-chieu-79bb24143/" target="_blank" rel="noreferrer">
                <img src="/images/logos/linkedin_logo.png" alt="LinkedIn logo" width="auto" height="33" />
            </a>
        </div>
    </div>
{{ end }}