{{ with .Site.Menus }}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                {{ range .main_menu }}
                    <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Projects</a>
                    <div class="navbar-dropdown">
                        {{ range .projects_menu }}
                            {{ range .Children.ByWeight }}
                                <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
                {{ range .main_menu }}
                    {{ range .Children }}
                        <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://github.com/tiffany1618" target="_blank" rel="noreferrer">
                <figure class="image is-35x35">
                    <img src="/images/logos/github_logo.png" alt="Github logo" />
                </figure>
            </a>
            <a class="navbar-item" href="https://www.linkedin.com/in/tiffany-chieu/" target="_blank" rel="noreferrer">
                <figure class="image is-35x35">
                    <img src="/images/logos/linkedin_logo.png" alt="LinkedIn logo" />
                </figure>
            </a>
        </div>
    </nav>
{{ end }}